@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: rgb(115, 180, 253);
	background-image: url('/assets/forest.png');
	background-attachment: fixed;
}

@layer components {
	.dark-gradient {
		@apply bg-gradient-to-br from-sky-800 to-slate-800;
	}

	.snake-color {
		@apply bg-yellow-300 shadow-inner shadow-xl;
	}
}
