@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #001218;
	background-image: url('/assets/schraeg.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: auto;
}

@media only screen and (min-width: 768px) {
	body {
		background-position-y: center;
	}
}

@layer components {
	.background-gradient {
		@apply bg-rose-100;
	}

	.dark-gradient {
		@apply bg-white;
	}

	.dark-gradient-highlighted {
		@apply bg-white;
	}

	.snake-color {
		@apply bg-emerald-400;
	}

	.growing {
		@apply bg-emerald-300;
	}
}
